body.light {
  background-color: #fff !important;
  color: #111 !important;
}
body.light .bg-gray-50 {
  background-color: #fff !important;
}
body.light .text-gray-900,
body.light .dark\:text-gray-100 {
  color: #222 !important;
}
body.light .bg-white {
  background-color: #fff !important;
}
body.light .dark\:bg-gray-900 {
  background-color: #e2dfdfaf !important;
}
body.light .dark\:bg-gray-800 {
  background-color: #bebebe81 !important;
}
body.light .dark\:text-gray-400 {
  color: #333 !important;
}
body.light .dark\:text-gray-200 {
  color: #222 !important;
}
body.light input,
body.light select,
body.light textarea {
  background-color: #d9dbdf !important;
  color: #111 !important;
  border-color: #d9dbdf !important;
} 